
body {
	margin: 0;
	color: #454559;
}

header {
	position: absolute;
	width: 100%;
	text-align: center;
	background-color: #7B8CDE;
	font-family: 'Old Standard TT', serif;
	color: white;
	font-size: 18px;
	padding: 10px 0;
}

h1 {
	font-style: italic;
	margin-top: 14px;
	margin-bottom: 0;
}

h5 {
	margin-bottom: 10px;
}

.content {
	padding: 165px 0 50px 0;
	max-width: 85%;
	margin: 0px auto 0px auto;
}



/* NEW USER FORM AND POST TWITTLE FORM */

#newUserLink {
	color: #E88D67;
	cursor: pointer;
}

#newUserForm {
	display: none;
	margin: 20px 0 50px 0;
}

#twittleForm {
	margin: 50px 0;
}

textarea {
	margin-bottom: 10px;
	font-family: 'Delius Swash Caps', cursive;
	color: #454559;
	font-size: 12px;
	border-radius: 5px;
	border-color: #A4D8CD;
	padding: 10px;
}

input {
	font-family: 'Delius Swash Caps', cursive;
	color: #454559;
	margin-right: 10px;
	width: 152px;
	height: 35px;
	border-top: none;
	border-left: none;
	border-right: none; 
	font-size: 12px;
	border-color: #A4D8CD;
	border-width: 1px;
	padding-left: 11px;
}

button {
	font-size: 16px;
	font-family: 'Old Standard TT', serif;
	border: none;
	background-color: #E88D67;
	color: white;
	border-radius: 5px;
	padding: 9px 14px;
	cursor: pointer;
}



/* TWITTLE LIST */

#tweetList {
	padding: 40px 0;
}

.tweet {
	padding: 8px 0;
	font-family: 'Delius Swash Caps', cursive;
}

.user {
	color: #7B8CDE;
}

.user:hover {
	cursor: pointer;
}

.time {
	color: #A4D8CD;
	font-size: 14px;
}

.message {
	color: #454559;
	margin-left: 7px;
}



/* BACK TO TOP BUTTON */

#topButton {
	display: block;
	margin: 0 auto;
}
