
body {
	margin: 0;
	color: #454559;
}

.content {
	padding-top: 165px;
	max-width: 80%;
	margin: 0px auto 0px auto;
}

a {
	color: #E88D67;
}

header {
	position: fixed;
	width: 100%;
	text-align: center;
	background-color: #7B8CDE;
	font-family: 'Old Standard TT', serif;
	color: white;
	font-size: 18px;
	padding: 10px;
}

h1 {
	font-style: italic;
	margin-top: 10px;
	margin-bottom: 0;
}

h5 {
	margin-bottom: 8px;
}

#loadButton {
	font-size: 16px;
	font-family: 'Old Standard TT', serif;
	font-style: bold;
	border: none;
	background-color: #E88D67;
	color: white;
	border-radius: 5px;
	padding: 9px 14px;
}

#tweetList {
	padding-top: 20px;
}

.tweet {
	padding: 8px 0;
	font-family: 'Delius Swash Caps', cursive;
}

#tweetList .user {
	color: #7B8CDE;
}

.time {
	color: #A4D8CD;
}

.message {
	color: #454559;
	margin-left: 7px;
}